body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header_main_website {
    background-color: #082029;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140px;
}

.header_main_website img {
    height: 100px;
}

.header_content {
    max-width: 1220px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 16px;
}

h1 {
    color: white;
    font-size: 64px;
    margin-top: 48px;
    margin-bottom: 64px;
}

.main_website {
    background-color: #05171E;
    display: flex;
    justify-content: center;
    flex: 1;

}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1220px;
    width: 100%;
    padding-inline: 16px;
    padding-bottom: 48px;
}

.image_style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.image_style img {
    border-radius: 16px;
    height: 230px;
    width: 230px;
    object-fit: cover;
    cursor: pointer;
}

.image_style a {
    border-radius: 16px;
    height: 230px;
    width: 230px;
}

.image_style a:hover {
    outline: 4px solid #6BC1E1;
}

a:focus-visible{
    outline: 3px solid #6BC1E1;
}

.footer_main_website {
    background-color: #082029;
    min-height: 140px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictureDialogclass {
    background-color: #082029;
    border-radius: 20px;
    padding: 0;
}

.pictureDialogclass header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;
    padding-inline: 32px;
    padding-top: 8px;
}

.pictureDialogclass main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 16px;
}

.pictureDialogclass img {
    height: 450px;
    width: 600px;
    padding-inline: 32px;
}

.pictureDialogclass footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 24px;
    padding-bottom: 8px;
}

.leftRightButton {
    background-color: #1E1E23;
    color: #F05C50;
    font-size: 40px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.leftRightButton:hover{
    background-color: #382428;
}

.leftRightButton:focus-visible{
    background-color: #382428;
    outline: none;
}

.closeButton {
    background-color:#082029;
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.closeButton:hover {
    background-color: #124658;
}

.closeButton:focus-visible {
    background-color: #124658;
    outline: none;
}

.closeButton:active {
    background-color: #0D3240;
}

.pictureDialogclass::backdrop{
    background-color: rgba(0, 0, 0, 0.7);
}