body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header_main_website {
    background-color: #082029;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140px;
}

.header_main_website img {
    height: 100px;
}

.header_content{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    color: white;
    font-size: 64px;
    margin-top: 50px;
    margin-bottom: 164px;
}

main {
    background-color: #05171E;
    display: flex;
    justify-content: center;
    flex: 1;

}

.main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}

.image_style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.image_style img {
    border-radius: 10px;
    height: 230px;
    object-fit: cover;
}

footer {
    background-color: #082029;
    min-height: 140px;
}

.pictureDialogclass{
    background-color: #082029;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 450px;
}

.pictureDialogclass header{
    display: flex;
    justify-content: space-between;
}

.pictureDialogclass main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 16px;
}

.pictureDialogclass img{
    height: 550px;
    width: 350px;
    object-fit: cover;
}

.pictureDialogclass footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}