body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header_main_website {
    background-color: #082029;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140px;
}

.header_main_website img {
    height: 100px;
}

.header_content {
    max-width: 1220px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 16px;
}

h1 {
    color: white;
    font-size: 64px;
    margin-top: 0px;
    margin-bottom: 64px;
    text-align: center;
}

.main_website {
    background-color: #05171E;
    display: flex;
    justify-content: center;
    flex: 1;
    padding-block: 16px;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1220px;
    width: 100%;
    padding-inline: 16px;
}

.image_style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.image_style img {
    display: block;
    border-radius: 16px;
    height: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
}

.image_style button {
    background-color: #05171E;
    border-radius: 16px;
    border: none;
    padding: 0;
}

.image_style button:hover {
    outline: 4px solid #6BC1E1;
}

button:focus-visible {
    outline: 4px solid #6BC1E1;
}

.footer_main_website {
    background-color: #082029;
    min-height: 140px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictureDialogclass {
    background-color: #082029;
    border-radius: 20px;
    padding: 0;
}

.pictureDialogclass header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;
    padding-inline: 32px;
    padding-top: 8px;
}

.pictureDialogclass main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 16px;
}

.pictureDialogclass img {
    aspect-ratio: 2/1.3;
    width: 600px;
    padding-inline: 32px;
}

.pictureDialogclass footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 24px;
    padding-bottom: 8px;
}

.leftRightButton {
    background-color: #1E1E23;
    color: #F05C50;
    font-size: 40px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.leftRightButton:hover {
    background-color: #382428;
}

.leftRightButton:focus-visible {
    background-color: #382428;
    outline: 2px solid #6BC1E1;
}

.closeButton {
    background-color: #082029;
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.closeButton:hover {
    background-color: #124658;
}

.closeButton:focus-visible {
    background-color: #124658;
    outline: 2px solid #6BC1E1;
}

.closeButton:active {
    background-color: #0D3240;
}

.pictureDialogclass::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}


@media (max-width:710px) {
    .pictureDialogclass img {
        width: 450px;
    }
    h1{
        font-size: 48px;
    }
}

@media (max-width:600px) {
    .header_main_website img {
        height: 80px;
    }
}

@media (max-width:560px) {
    .pictureDialogclass img {
        width: 350px;
    }

    .image_style img {
        height: 100px;
    }
    h1{
        margin-bottom: 32px;
    }
}

@media (max-width:490px) {
    .header_main_website img {
        height: 50px;
    }

    .header_main_website {
        min-height: 100px;
    }

    .footer_main_website{
        min-height: 100px;
    }
    h1{
        font-size: 32px;
    }
}

@media (max-width:460px) {
    .pictureDialogclass img {
        width: 300px;
    }

    .pictureDialogclass h2 {
        font-size: 16px;
    }

    .pictureDialogclass button {
        font-size: 24px;
        height: 32px;
        width: 32px;
    }

    .pictureDialogclass footer {
        font-size: 16px;
    }
}

@media (max-width:410px) {
    .pictureDialogclass img {
        width: 250px;
        padding-inline: 16px;
    }
}

@media (max-width:365px) {
    h1{
        width: 250px;
    }
}